<div class="row">
	<div id="videos" class="col-md-7">
		<div id="theirVideo"></div>
		<div id="myVideo"></div>
	</div>
	
	<div class="col-md-5" id="chat-container">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<span class="glyphicon glyphicon-comment"></span> Chat
			</div>
			<div class="panel-body" scroll-glue>
				<ul class="chat">
					<li ng-repeat="message in messages | orderBy:'-date'" class="clearfix" ng-class="{'right':isMe(message), 'left':!isMe(message)}">
						<span class="chat-img" ng-class="{'pull-right': isMe(message), 'pull-left': !isMe(message)}">
							<img ng-src="{{message.portraitURL}}" style="width:50px;" class="img-circle" />
						</span>
						<div class="chat-body clearfix">
							<div class="header">
								<small ng-if="isMe(message)" class=" text-muted">
									<span class="glyphicon glyphicon-time"></span>
									<span am-time-ago="message.date"></span>
								</small>
								<strong class="primary-font" ng-class="{'pull-right': isMe(message)}">{{ message.userName }}</strong>
								<small ng-if="!isMe(message)" class=" text-muted" ng-class="{'pull-right': !isMe(message)}">
									<span class="glyphicon glyphicon-time"></span>
									<span am-time-ago="message.date"></span>
								</small>								
							</div>
							<p>
								{{message.text}}
							</p>
						</div>
					</li>
				</ul>
			</div>
			<form ng-submit="sendMessage()">
				<div class="panel-footer">
					<div class="input-group">
						<input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." ng-model="newMessage.text"/>
						<span class="input-group-btn">
							<button class="btn btn-warning btn-sm" id="btn-chat">Send</button>
						</span>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-7">

		<button type="button" class="btn btn-primary btn-lg btn-block" ng-show="aux.callStatus == 'none'" ng-click="call()">
			<i class="fa fa-spinner fa-spin"></i>
			<span>Start video call</span>
		</button>
		<button type="button" class="btn btn-warning btn-lg btn-block" ng-show="aux.callStatus == 'onCall' || aux.callStatus == 'calling'" ng-click="endCall()">End call</button>	

	</div>
	<div class="col-md-5" ng-show="partner.profile.ratePerSession > 0 && paypalUrl">
		<a ng-href="{{paypalUrl}}" target="_blank" class="btn btn-primary btn-lg btn-block">
			<i class="fa fa-paypal"></i>
			Purchase a session with PayPal! {{partner.profile.ratePerSession | currency}}
		</a>
	</div>
	
	
</div>