<h1>Profile</h1>
<div>
	<form role="form" ng-submit="save()">
		<div class="row">
			<div class="form-group col-md-2 col-md-offset-2">
				<img ng-src="{{ portrait.url() }}" class="img-circle img-responsive">
				<br/>
				<div type="file" ng-file-select ng-file-change="changePortrait($files)" class="btn btn-primary btn-block">Upload picture</div>
			</div>

			<div class="col-md-6">
				<div class="form-group">
					<label for="name">Name</label>
					<input type="text" class="form-control" id="name" placeholder="Name..." ng-model="$root.currentUser.profile.name">
				</div>

				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="$root.currentUser.profile.isConsultor"> I want to work!
					</label>
				</div>
			
				<span ng-show="$root.currentUser.profile.isConsultor">
					<div class="form-group">
						<label for="title">Title</label>
						<input type="text" class="form-control" id="title" placeholder="Title..." ng-model="$root.currentUser.profile.title">
					</div>

					<div class="form-group">
						<label for="title">Category</label>
						<select class="form-control" ng-options="category.key as category.label for category in categories" ng-model="$root.currentUser.profile.category">
						</select>
					</div>

					<div class="form-group">
						<label for="description">Tell your clients something about your services!</label>
						<textarea class="form-control" id="description" rows="8" ng-model="$root.currentUser.profile.description"></textarea>
					</div>

					<!-- <div class="form-group well">
						<h3 class="text-info">
							<i class="fa fa-clock-o"></i>
							Rate per <strong>hour</strong></h3>
						<p>
							Please set your rate per hour. This is what your users will see when requesting your services.
							<a href="https://www.paypal.com/hk/webapps/mpp/paypal-fees">Paypal fees may apply, click here for more information.</a>
						</p>
						<div class="input-group col-md-6 col-md-offset-3">
							<div class="input-group-addon">$</div>
							<input type="number" id="ratePerHour" class="form-control" placeholder="00.00" ng-model="$root.currentUser.profile.ratePerHour">
							<div class="input-group-addon"> / hour</div>
						</div>
						<br>
						<p class="text-success" ng-show="$root.currentUser.profile.ratePerHour">
							You'll earn approximatelly <strong>{{ $root.currentUser.profile.ratePerHour * 0.9 | currency}}/hr</strong>
						</p>
					</div> -->
					
					<div class="form-group">
						<label for="name">
							<i class="fa fa-paypal"></i>
							PayPal email account
						</label>
						<input type="email" class="form-control" placeholder="PayPal email..." ng-model="$root.currentUser.profile.paypalEmail">
					</div>

					<div class="form-group well">
						<h3 class="text-info">
							<i class="fa fa-circle"></i>
							Rate per <strong>session</strong></h3>
						<p>
							Please set your rate per session. This is what your users will see when requesting your services.
							<a href="https://www.paypal.com/hk/webapps/mpp/paypal-fees">Paypal fees may apply, click here for more information.</a>
						</p>
						<div class="input-group col-md-6 col-md-offset-3">
							<div class="input-group-addon">$</div>
							<input type="number" id="ratePerSession" class="form-control" placeholder="00.00" ng-model="$root.currentUser.profile.ratePerSession">
							<div class="input-group-addon"> per session</div>
						</div>
						<br>
						<p class="text-success" ng-show="$root.currentUser.profile.ratePerSession">
							You'll earn approximatelly <strong>{{ $root.currentUser.profile.ratePerSession * 0.9 | currency}} per session</strong>
						</p>
					</div>
					
					<div class="well">
						<p class="text-muted"> Rate per hour coming soon! </p>	
					</div>

				</span>
				<button type="submit" class="btn btn-success btn-lg">Save</button>
			</div>
		</div>
		
		<!-- Title -->
		<!-- Category -->
		<!-- Description -->
		<!-- Rate (by hr and by session) -->
		<!--  -->
	
	</form>
</div>